html {
  margin: 0 auto;
  padding: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Spectral", serif;
  background-color: #fff1e0;
  color: #000;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.block {
  display: block;
  margin: 0 auto;
}

a {
  font-weight: 900;
  text-decoration: none;
  color: black;
}

.top-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top-nav__home {
  padding: 15px 15px;
  font-size: 20px;
  text-align: left;
}
.top-nav__logout {
  padding: 15px 15px;
  font-size: 20px;
  text-align: right;
}
.main__title {
  font-size: 2rem;
}

.section--about,
.login__form {
  background-color: #f2dfce;
  max-width: 320px;
  display: block;
  margin: 0 auto;
  padding: 15px 10px;
}

.section--news{
  text-align: center;
}

.main__title,
.section--about__title,
.section--about__text,
.section--options__title,
.section--options {
  margin: 0 auto;
  padding: 20px 5px;
}

.section--options__login,
.section--options__register {
  background-color: #0d7680;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  min-width: 125px;
}

.login__form {
  padding: 10px 5px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.form__input {
  min-height: 25px;
}

.footer {
  background-color: #262a33;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  padding: 100px 5px;
}

.footer a {
  color: white;
}

.block--search {
  max-width: 500px;
}

.search {
  display: grid;
  grid-template-columns: 25fr 1fr;
  text-align: center;
}
.search__input {
  min-width: 200px;
  margin: 5px 5px 5px 10px;
  padding: 0px 5px;
  height: 50px;
  border: none;
}

.search__btn {
  background-color: #f2dfce;
  border: none;
  padding: 15px 15px;
  display: inline-block;
  margin: 5px 10px 5px 5px;
  width: 50px;
  height: 50px;
}
.search__btn__icon {
  width: 15px;
  height: 15px;
}

/*STORIES*/
.main__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 40px;
}
.story {
  background-color: white;
  padding: 15px 30px;
  border-bottom: 1px solid black;
}

.story__title {
  font-size: 3rem;
}

.story__snippet {
  font-size: 1.5rem;
}

.story__img {
  max-height: 400px;
  max-width: 400px;
}

.story__author {
  font-family: "Muli", sans-serif;
}

.story__date {
  text-align: right;
  font-size: 0.8rem;
}

.story__paragraph {
  text-align: left;
}

.story__source {
  text-align: right;
  font-size: 0.8rem;
}

/*topBtn*/
#myBtn {
  color: white;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: 2px solid white;
  outline: none;
  background: #000000bd;
  opacity: 0.7;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 20px;
}

#myBtn a{
  color: white;
}

#myBtn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .main__container {
    max-width: 650px;
  }
  .story__title {
    font-size: 1.5rem;
  }
  
  .story__snippet {
    font-size: 1rem;
  }

  .story__img {
    max-height: 600px;
    max-width: 600px;
  }
}
@media screen and (max-width: 400px) {
  .main__container {
    max-width: 350px;
  }
  .story__img {
    max-height: 250px;
    max-width: 250px;
  }
}
