<div class="block">
    <section class="section--error">
        <p class="section--error__code">{{statusCode}}</p>
        <hr>
        <span class="section--error__msg">{{errorMessage}}</span>
        <hr>
        <img class="section--error__img" src="https://media.giphy.com/media/vrKUtJNMtB3Y4/giphy.gif"
            alt="crying-dinosaur" />
        <hr>
    </section>
</div>