<section class="section--error">
    <p class="section--error__code">{{statusCode}}</p>
    <hr>
    <span class="section--error__msg">{{errorMessage}}</span>
    <img class="section--error__img" src="https://pre00.deviantart.net/3d17/th/pre/i/2018/099/7/b/sad_dinosaur_by_imarchdesigns-dc8dwit.png"
    alt="crying-dinosaur"/>   
</section>