<div class="block">
    <h1 class="main__title">Built for news lovers</h1>
    <section class="section--about">
        <h2 class="section--about__title">About</h2>
        <p class="section--about__text">Latest news is an online platform with design inspired by The Financial Times.
            It's data is powered by The New York Times API and The News API.
            From sports to business, you can search and read through different news.</p>
    </section>
    <section class="section--options">
        <h3 class="section--options__title">What would you like to do?</h3>
        <a href="/login"><button class="section--options__login">Log In</button></a>
        <a href="/register"><button class="section--options__register">Register</button></a>
    </section>
</div>