<div class="block">
    <h1 class="main__title">Built for news lovers</h1>
    <section class="section--about">
        <h2 class="section--about__title">About</h2>
        <p>Latest news is an online platform inspired by The New York Times.
            From sports to business, you can read and filter through different news,
            manage your profile, and save your favourite stories.</p>
    </section>
    <section class="section--options">
        <h3 class="section--options__title">What would you like to do?</h3>
        <a href="/login"><button class="section--options__login">Log In</button></a>
        <a href="/register"><button class="section--options__register">Register</button></a>
    </section>
</div>