<div class="block">
    <form action="login" method="POST">
        <label for="login__username">Username:
            <input id='login__username' type="text" name='username' required>
        </label>
        <p>{{ message }}</p>
        <br>
        <label for="login__password">Password:
            <input id='login__password' type="password" name='password' required>
        </label>
        <br>
        <button>Log in</button>
    </form>
</div>