<div class="block">
    <nav class="top-nav">
        <a href="/logout">LOG OUT</a>
    </nav>
</div>
<div class="block">
    <section class="section--news">
        <h1 class="main__title">NEWS</h1>
        <p>{{ message }}</p>
    </section>
    <div class="block block--search">
        <section class="search">
            <input type="text" placeholder="Search.." class="search__input" name="search" aria-label="search">
            <button type="submit" class="search__btn"><img class="search__btn__icon"
                    src="./images/search-icon.png"></button>
        </section>
    </div>
    <section class="main__container">
    </section>
</div>

<script src="/js/main.js"></script>