<section class="section--news">
    <h1 class="main__title">NEWS</h1>
</section>

<p>News page filter</p>

<section class="main__container">
    {{!-- <ul class="news__list">
        {{#each news}}

        <li class="news__link"
    </ul> --}}
</section>